:root {
    --percent: 5%;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"),
    url("./fonts/static/Inter-Light.ttf") format("truetype")
}
.circle {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;
}
.circle.per-25 {
    background: radial-gradient(closest-side, white 79%, transparent 80%),
            conic-gradient(rgba(255, 255, 255, 0.5) 0, rgba(255, 255, 255, 0.5) 0);
}
.fill {
    width: 58px;
    height: 58px;
    position: absolute;
    background: #3579F5;
    border-radius: 50%;
    margin: 1px;
}
.progress {
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 50%;
    margin: -1px;
    background: conic-gradient(#FFFFFF var(--percent), rgba(255, 255, 255, 0) 0);
}
.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 57px;
    height: 57px;
    background: #3579F5;
    border-radius: 50%;
    font-weight: 300;
    margin: 1.5px;
}
.container {
    width: 743px;
    height: 91px;
    font-family: 'Inter';
}
.container_content {
    width: 743px;
    height: 76px;
    border-radius: 10px;
    background: #3579F5;
    padding-top: 15px;
}
.number_of_actions {
    width: 60px;
    height: 60px;
    align-items: center;
    margin-left: 22px;
    border: 1px solid #FFFFFF80;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
}
.number {
    width: 38px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}
.text {
    vertical-align: middle;
    margin-left: 16px;
    display: inline-block;
    height: 60px;
}
.container_checklist {
    width: 76px;
    height: 18px;
    top: 12px;
    left: 98px;
    border-radius: 40px;
    background: #2364DB;
}
.checklist {
    width: 50px;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 10px 0 10px;
    margin-left: 3px;
}
.completed_actions {
    width: 211px;
    height: 20px;
    margin-top: 3px;
    margin-left: 1px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}
.task {
    width: 389px;
    height: 18px;
    top: 58px;
    left: 98px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 3px;
    margin-left: 1px;
}
.button {
    width: 170px;
    height: 40px;
    gap: 10px;
    border-radius: 6px;
    background: #F4F8FF;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    text-align: center;
}
.button_text {
    padding-top: 10px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4777ED;
    cursor: pointer;
}